
<div class="flex gap-3 mb-8 items-center flex-row">
  <button class="px-4 py-2 border rounded-full text-sm font-medium flex items-center gap-2">🏛️ Filtros</button>

  <select id="countries" class="bg-gray-50 border border-gray-300 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5 dark:focus:ring-blue-500 dark:focus:border-blue-500">
    <option selected>Todas las carreras</option>
    @for (item of filterCriteria; track item) {
      <option [value]="item.career">{{ item.career }}</option>
    }
  </select>

  <select id="years" class="bg-gray-50 border border-gray-300 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5 dark:focus:ring-blue-500 dark:focus:border-blue-500">
    <option selected>Todos los años </option>
    @for (item of filterCriteria; track item) {
      <option [value]="item.age">{{ item.age }} Año</option>
    }
  </select>

  <select id="subjects" class="bg-gray-50 border border-gray-300 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5 dark:focus:ring-blue-500 dark:focus:border-blue-500">
    <option selected>Todas las Asignaturas</option>
    @for (item of filterCriteria; track item) {
      <option [value]="item.subject">{{ item.subject }}</option>
    }
  </select>

  <div class="relative">
    <input type="text" placeholder="Buscar..." class="w-75 border border-gray-200 rounded-full py-3 px-12 focus:outline-none focus:border-blue-300 text-sm shadow-sm">
    <span class="absolute left-5 top-3.5 text-gray-400">🔍</span>
  </div>
</div>
